body {
    background-image: url("https://images.unsplash.com/photo-1532713031318-db2d14e4b3e1?q=80&w=3024&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") !important;
    background-position: center;
    background-size: cover;
    background-color: rgb(215, 187, 215);
    background-blend-mode: multiply;
  }
  
  .profile-image {
    background-image: url("https://image8.photobiz.com/8557/3_20200622103708_24328803_xlarge.jpg");
    background-position: left 55% top 12%;
    background-size: 125%;
  }

  .btn-1 {
    background-image: linear-gradient(to left, #743ad5, #d53a9d)
  }