body {
    margin: 0;
    background-image: url("https://images.unsplash.com/photo-1546594002-6d74adf4e040?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") !important;
    background-position: center;
    background-size: cover;
    background-color: rgb(231, 132, 231);
    background-blend-mode: multiply;
    padding: 0;
    color: #333;
    font-family: "Montserrat", sans-serif;
  }
  
  h1 {
    font-weight: 900;
  }
  
  .area-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #F6F6F6;
    padding: 50px 50px;
    max-width: 800px;
  }
  
  .header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  
  .btn-row {
    display: flex;
    justify-content: center;
    margin: 20px auto 10px auto;
  }
  
  .btn {
    margin: 5px;
    border-radius: 5px;
    padding: 15px 20px;
    text-decoration: none;
  }
  
  .btn i {
    margin-right: 10px;
  }
  
  .btn-1 {
    background-image: linear-gradient(to left, #743ad5, #d53a9d);
    color: white;
    font-weight: 700;
  }
  
  .btn-2, .btn-3 {
    background-color: #ededed;
    color: black;
    font-weight: 700;
  }
  
  .btn-3:hover {
    background-color: #C73AA5;
    color: white;
    transition: 0.15s;
    cursor: pointer;
  }
  
  .grow {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .grow:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  }
  
  .profile-image {
    margin: 0 auto;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    border: 5px solid #323232;
    border-radius: 50%;
    background-image: url("../../assets/img/miley\ headshot.png");
    background-position: 45%;
    background-size: 125%;
    width: 150px;
    height: 150px;
  }
  
  .profile-name {
    text-align: center;
  }

  .slogan {
    margin: 10px auto 20px auto;
    color: #6f6f6f;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
  }
  /* Add Quotes Around Slogan */
  .slogan::before {
    content: "\0022";
  }
  .slogan::after {
    content: "\0022";
  }
  
  .area-container h1 {
    margin: 15px auto 10px auto;
  }
  
  .area-container p {
    margin: 0px;
  }
  
  .area {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 25px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.25);
    border: 10px solid;
    border-width: 8px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    border-image-slice: 1;
    background-color: #F6F6F6;
    padding: 25px 25px;
    position: relative;
    color: #323232;
  }
  
  .area-title {
    position: absolute;
    left: 50%;
    top: -20px;
    width: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin: 0 0 15px 0;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 0 5px;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
  }
  .tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
  }
  .tag {
    background-color: rgb(76, 1, 99);
    border-radius: 25px;
    border: 1px rgb(149, 7, 196) solid;
    padding: 4px 10px;
    display: inline;
    color: white;
    font-weight: 600;
    font-size: 12px;
  }
  
  .area p {
    margin: 0;
  }
  
  .bio {
    letter-spacing: 1px;
    line-height: 1.25;
    font-size: 1.1em;
    font-weight: 500;
  }
  
  .social-media {
    margin-top: 50px;
    background-color: #222;
    padding: 10px;
    max-width: 800px;
    color: white;
    text-align: center;
  }
  
  .social-media a {
    padding: 2.5px;
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  
  .social-media h2 {
    margin: 0 0 10px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    opacity: 0; /* Start fully transparent */
    transition: opacity 1s ease-in-out; /* Fade transition */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media screen and (max-width: 600px) {
    .area-container {
      padding: 20px;
      margin: 10px 0;
    }
    .area-title {
      font-size: 18px;
      width: 80%;
    }
    .area {
      padding: 15px;
    }
    .profile-image {
      width: 100px;
      height: 100px;
    }
    .profile-name {
      font-size: 1em;
    }
    .bio {
      font-size: 1em;
    }
    .social-media {
      padding: 5px;
    }
    .social-media h2 {
      font-size: 1.5em;
    }
    .social-media a {
      font-size: 20px;
      color: white;
    }
    .btn {
      padding: 10px 15px;
    }
    .btn i {
      margin-right: 10px;
    }
    .btn-1 {
      margin-top: 10px;
    }
    .btn-2 {
      margin-top: 10px;
    }
    .modal-content {
      margin: 25% auto;
      width: 90%;
    }
    .modal-content h1 {
      font-size: 1.5em;
    }
    .modal-content p {
      font-size: 1em;
    }
    .modal-content img {
      width: 100%;
    }
    .modal-content .btn {
      padding: 10px 15px;
    }
    .modal-content .btn i {
      margin-right: 5px;
    }
    .modal-content .btn-row {
      flex-direction: column;
    }
    .modal-content .btn-1 {
      margin-bottom: 10px;
    }
    .modal-content .btn-2 {
      margin-top: 10px;
    }
  }
  
  /*# sourceMappingURL=style.css.map */
  